<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/designapp/insertstudent">Add Student</a> ||  <a href="/designapp/viewstudent">View Student</a>
    <hr>
    <form action="" method="post">
       {% csrf_token %}
       <input type="text" placeholder="Enter rno" name="txtrno" value="{{key.rno}}" /> <br/>
       <input type="text" placeholder="Enter name" name="txtname" value="{{key.name}}" /> <br/>
       <input type="text" placeholder="Enter branch" name="txtbranch" value="{{key.branch}}" /> <br/>
       <input type="text" placeholder="Enter fees" name="txtfees" value="{{key.fee}}"/> <br/>
       <input type="submit" value="Update" />

    </form>
   
</body>
</html>