<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/designapp/style.css" rel="stylesheet" />
</head>
<body>
      <header>
         <ul>
            <li><a href="/designapp">Home</a></li>
            <li><a href="/designapp/about">About us</a></li>
            <li><a href="/designapp/services">Services</a></li>
            <li><a href="/designapp/gallery">Gallery</a></li>
            <li><a href="/designapp/contact">Contact us</a></li>
         </ul>
      </header>
      <section>
        {% block middlesection %}


        {% endblock %}
      </section>
      <footer>

      </footer>
</body>
</html>