<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        .star-rating {
            direction: rtl;
            display: inline-flex;
        }
        .star-rating input[type="radio"] {
            display: none;
        }
        .star-rating label {
            font-size: 2rem;
            color: #ccc;
            cursor: pointer;
        }
        .star-rating input[type="radio"]:checked ~ label,
        .star-rating input[type="radio"]:checked ~ label ~ label {
            color: gold;
        }
        .star-rating label:hover,
        .star-rating label:hover ~ label {
            color: gold;
        }
</style>
</head>
<body>
    <a href="/designapp/insertstudent">Add Student</a> ||  <a href="/designapp/viewstudent">View Student</a>||  <a href="/designapp/stulogout">Logout</a> ||  <a href="/designapp/stureview">Manage Review</a> | <a href="/designapp/stuviewreview">View Review</a>
    <h1>View Review</h1>
    <div class="star-rating">
        {% for d in key %}
        {% if d.rating == 5.0 %}
        <input type="radio"  name="rating" value="5">
        <label for="star5" style="color:gold" >&#9733;</label>
        <input type="radio" name="rating" value="4">
        <label for="star4" style="color:gold">&#9733;</label>
        <input type="radio"  name="rating" value="3">
        <label for="star3" style="color:gold">&#9733;</label>
        <input type="radio" name="rating" value="2">
        <label for="star2" style="color:gold">&#9733;</label>
        <input type="radio"  name="rating" value="1" >
        <label for="star1" style="color:gold">&#9733;</label>
        {% elif d.rating == 4.0 %}
        <input type="radio" name="rating" value="5">
        <label for="star5" style="color:gray" >&#9733;</label>
        <input type="radio"  name="rating" value="4">
        <label for="star4" style="color:gold">&#9733;</label>
        <input type="radio"  name="rating" value="3">
        <label for="star3" style="color:gold">&#9733;</label>
        <input type="radio" name="rating" value="2">
        <label for="star2" style="color:gold">&#9733;</label>
        <input type="radio" name="rating" value="1" >
        <label for="star1" style="color:gold">&#9733;</label>
        {% elif d.rating == 3.0 %}
        <input type="radio" name="rating" value="5">
        <label for="star5" style="color:gray" >&#9733;</label>
        <input type="radio"  name="rating" value="4">
        <label for="star4" style="color:gray">&#9733;</label>
        <input type="radio" name="rating" value="3">
        <label for="star3" style="color:gold">&#9733;</label>
        <input type="radio"  name="rating" value="2">
        <label for="star2" style="color:gold">&#9733;</label>
        <input type="radio"  name="rating" value="1" >
        <label for="star1" style="color:gold">&#9733;</label>
        {% elif d.rating == 2.0 %}
        <input type="radio"  name="rating" value="5">
        <label for="star5" style="color:gray" >&#9733;</label>
        <input type="radio"  name="rating" value="4">
        <label for="star4" style="color:gray">&#9733;</label>
        <input type="radio"  name="rating" value="3">
        <label for="star3" style="color:gray">&#9733;</label>
        <input type="radio"  name="rating" value="2">
        <label for="star2" style="color:gold">&#9733;</label>
        <input type="radio"  name="rating" value="1" >
        <label for="star1" style="color:gold">&#9733;</label>
        {% else  %}
        <input type="radio" name="rating" value="5">
        <label for="star5" style="color:gray" >&#9733;</label>
        <input type="radio" name="rating" value="4">
        <label for="star4" style="color:gray">&#9733;</label>
        <input type="radio"  name="rating" value="3">
        <label for="star3" style="color:gray">&#9733;</label>
        <input type="radio"  name="rating" value="2">
        <label for="star2" style="color:gray">&#9733;</label>
        <input type="radio"  name="rating" value="1" >
        <label for="star1" style="color:gold">&#9733;</label>
        {% endif %}
        </div>
        <br />
        <p> {{d.message}}</p>
           
       <br>
        {% endfor %}
      
      
    
    
</div>
</body>
</html>