*{
    margin: 0px;
}
header{
    height: 100px;
    background-color: blueviolet;
}
header ul li{
    display: inline-block;
    margin-left: 20px;
}
header ul li a{
    color:white;
    font-size: 24px;
    
}
section{
    height: 500px;
    background-color: gray;
}
footer{
    height: 200px;
    background-color: blueviolet;
}